header button {
    padding: 2px 25px!important;
    background-color: #3BAFBF!important;
    border-radius: 3px;
    border: none;
    color: white;
}
h3 {
    font-weight: 300!important;
}
p {
    line-height:2em;
    margin: 20px 0;
    font-weight: 400;
}